<a href="https://colab.research.google.com/github/BIWAP2022/Python_projetos/blob/main/Projeto40_V1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd

In [11]:
dados = pd.read_csv("New Report.csv",parse_dates=['Base_Data'])

In [13]:
dados2 = dados.groupby(["Base_Data", 'Base_Codigo'], as_index=False)['Base_Qtd'].sum()
dados2.head()

   Base_Data  Base_Codigo  Base_Qtd
0 2020-10-01            1         2
1 2020-10-01            2        21
2 2020-10-01            3         9
3 2020-10-01            4       100
4 2020-10-01            5         1

In [15]:
dados2['Dia_do_mes'] = dados2['Base_Data'].dt.day
dados2['Mes'] = dados2['Base_Data'].dt.month
dados2['Ano'] = dados2['Base_Data'].dt.year
dados2['Dia_da_semana'] = dados2['Base_Data'].dt.weekday
dados2.head()

   Base_Data  Base_Codigo  Base_Qtd  Dia_do_mes  Mes   Ano  Dia_da_semana
0 2020-10-01            1         2           1   10  2020              3
1 2020-10-01            2        21           1   10  2020              3
2 2020-10-01            3         9           1   10  2020              3
3 2020-10-01            4       100           1   10  2020              3
4 2020-10-01            5         1           1   10  2020              3

In [16]:
dados3 = dados2.drop("Base_Data", axis=1)


from sklearn.tree import DecisionTreeRegressor

modelo = DecisionTreeRegressor()
modelo.fit(dados3[['Dia_do_mes','Mes', 'Ano', 'Dia_da_semana', 'Base_Codigo']], dados3['Base_Qtd'])


futuro = pd.date_range("2022-05-01", "2022-08-31", freq='D')

futuro_todos = []

for Codigo in dados3['Base_Codigo'].unique():
    futuro_df = pd.DataFrame()
    futuro_df['Dia_do_mes'] = futuro.day
    futuro_df['Mes'] = futuro.month
    futuro_df['Ano'] = futuro.year
    futuro_df['Dia_da_semana'] = futuro.weekday
    futuro_df['Base_Codigo'] = Codigo     
    p = modelo.predict(futuro_df)
    
    futuro_df['Base_Qtd'] = p
    
    futuro_todos.append(futuro_df)
    
futuro_todos_df = pd.concat(futuro_todos, ignore_index=True)
futuro_todos_df.head()

   Dia_do_mes  Mes   Ano  Dia_da_semana  Base_Codigo  Base_Qtd
0           1    5  2022              6            1       0.0
1           2    5  2022              0            1       0.0
2           3    5  2022              1            1       0.0
3           4    5  2022              2            1       0.0
4           5    5  2022              3            1       0.0

In [18]:
futuro_todos_df.to_csv('futuro_todos_df.csv')